#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 1.1rem;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact_button:hover{
  background-color: #DB8876;
  color: black;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    size: 50px;
}

.photograph-header img{
    font-size: 50px;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin-bottom: -70px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#photographerImage{
    height: 13rem;
    width: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 60px;
}

.photographer_details{
    margin-left: 100px;
}



.photographer_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 20em;
    margin-top: -17em;
    margin-bottom: -22em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 95px;
    grid-row-gap: 71px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .photo {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 2%;
  }

  .video {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border: white;
    height: 100%;
  }
  
  .lightbox-container {
    display: flex;
    align-items: center;
  }
  
  .lightbox-media {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  .lightbox-title {
    font-size: 20px;
    color: #911c1c;
    padding: 5px 10px;
    margin-left: 29%;
  }
  
  .lightbox-media img,
  .lightbox-media video {
    max-width: 40%;
    max-height: 70%;
    object-fit: contain;
    align-self: center;
  }
  
  .lightbox-grid1,
  .lightbox-grid3 {
    flex: 0 0 10%;
  }
  


  .lightbox-previous{
    position: relative;
    left: 230%;
    z-index: 9999;
  }

  .lightbox-next{
   position: relative;
   right: 190%;
   z-index: 9999;
  }

  .lightbox-close{
    align-self: flex-start;
    position: relative;
    right: 20%;
    z-index: 9999;
  }
  
  .lightbox-close-img,
  .lightbox-previous::before,
  .lightbox-next::before {
    width: 20px;
    height: 20px;
    fill: #b30000;
  }
  
  .lightbox-close-img {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .lightbox-previous::before,
  .lightbox-next::before,
  .lightbox-close::before {
    font-family: "Font Awesome 6";
    font-weight: 900;
  }
  
  .lightbox-previous img,
  .lightbox-next img,
  .lightbox-close img {
    width: 20px;
    height: 40px;
    color: #b30000; /* Couleur bordeaux */
  }
  
  .lightbox-previous,
  .lightbox-next,
  .lightbox-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    color: white;
  }

  .media-wrapper {
    position: relative;
  }
  

  .photo-container {
    position: relative;
  }
  
.media-like-icon {
  position: relative;
  left: 320px;
}

  .like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: small;
  }
  
  .like-count {
    position: relative;
    left: 246px;
    bottom: 5px;
    font-size: 23px;
    color: #911c1c;
  }
  
  .like-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;

  }

  #bottom_bar {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 2%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em; */
    background: #db8876;
    color: #000000;
    width: 370px;
    height: 67px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 27px;
  }
  

#sortSelect {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 170px;
  height: 69px;
  border: none;
  background-color: #901C1C;
  border-radius: 0.5rem;
  cursor: pointer;
}
  
.photo-title{
  position: relative;
  right: 85px;
  bottom: 33px;
  font-size: 22px;
  color: #911c1c;
}

.photo-date{
  visibility: hidden;
}

#photographerName{
  color: #D3573C;
    font-size: 36px;
    margin-bottom: -10px;
}

#photographerLocation{
  color: rgb(144, 28, 28);
  margin-bottom: -10px;
}

#photographerTagline {
  color: #525252;
}

.heart-icon{
  height: 20px;
}

.black_heart{
  height: 25px;
  right: 30px;
  position: relative;
}

#sortButtons{
  margin: 60px 409px;
}

#totalLikesCount{
  position: relative;
  left: 29px;
}

.price_likes{
  position: relative;
  right: 25px;
}

h3{
  font-size: 61px;
  font-weight: normal;
}

#modalForm{
  margin-top: 20px;
}