#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 1.1rem;
    width: 170px;
    height: 69px;
    border: none;
    background-color: #901C1C;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.bground {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    size: 50px;
}

.photograph-header img{
    font-size: 50px;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#photographerImage{
    height: 13rem;
    width: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.photographer_details{
    margin-left: 100px;
}

.photographer_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 3em;
    margin-bottom: 2em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 95px;
    grid-row-gap: 71px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .photo {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }

  .video {
    width: 350px;
    height: 300px;
    object-fit: cover;
  }
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border: white;
    height: 100%;
  }
  
  .lightbox-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .lightbox-media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
  }
  
  .lightbox-media img,
  .lightbox-media video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .lightbox-grid1,
  .lightbox-grid3 {
    flex: 0 0 10%;
  }
  
  .lightbox-close,
  .lightbox-previous,
  .lightbox-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
  }
  
  .lightbox-close-img,
  .lightbox-previous::before,
  .lightbox-next::before {
    width: 20px;
    height: 20px;
    fill: #b30000;
  }
  
  .lightbox-close-img {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .lightbox-previous::before,
  .lightbox-next::before,
  .lightbox-close::before {
    font-family: "Font Awesome 6";
    font-weight: 900;
  }
  
  .lightbox-previous img,
  .lightbox-next img,
  .lightbox-close img {
    width: 20px;
    height: 20px;
    color: #b30000; /* Couleur bordeaux */
  }
  
  .lightbox-previous,
  .lightbox-next,
  .lightbox-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
    color: white;
  }

  .media-wrapper {
    position: relative;
  }
  

  .photo-container {
    position: relative;
  }
  
  .like-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: small;
  }
  
  .like-count {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .like-button {
    size: 20px;
  }